/*
Theme Name:   Math child
Theme URI:    http://example.com/my-theme/
Description:  Дочірня тема для теми project-management
Author:       Mykhailo Maksymov
Author URI:   http://example.com
Template:     project-management
Version:      1.0.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         child, project-management
Text Domain:  Math-child
*/
