@media screen and (min-width : 320px) and (max-width : 767px) {
  .page-template-frontpage #site-navigationn{
    position: static;
    background: var(--first-color);
    margin-top: 0;
  }
  .header-inner {
    border-radius: 0;
    padding-right: 0;
  }
  .logo{
    border-radius: 0;
  }
  .blog_box_inner,.testimonial-heading{
    padding: 0;
    text-align: center;
  }  
  .blog_box_inner h3{
    font-size: 30px;
  }
  .slider-inner-banner img{
    height: 850px;
  }
  .blog_inner_box img {
    width: 100% !important;
    height: 330px !important;
    margin: 0;
  }
  .blog_inner_box {
    height: 370px;
  }
  .slider-default-image{
    border:none;
  }
  .slider .owl-nav{
    display: none;
  }
  .slider .owl-dots,#testimonial .owl-dots {
    top: auto;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .slider button.owl-dot {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
  }
  p.get-started-btn {
    text-align: end;
}
}

@media (max-width: 782px){
  .page-template-frontpage #site-navigationn{
    position: static;
    background: var(--first-color);
    margin-top: 0;
  }
  .header-inner {
    border-radius: 0;
    padding-right: 0;
  }
  .logo{
    border-radius: 0;
  }
  .wc-block-cart .wc-block-cart__submit-container--sticky {
    bottom: unset !important;
  }
  .wp-block-woocommerce-cart .wc-block-cart__submit-button {
    width: 100%;
  }
  .wp-block-woocommerce-cart-order-summary-block {
    margin-top: 20px;
  }
  .is-mobile table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__total .wc-block-components-formatted-money-amount{
    display: none !!important;
  }
  h1.post-title.feature-header-title {
    font-size: 22px;
    width: 100%;
  }  
}

@media screen and (min-width : 768px) and (max-width : 1000px) {
  #main-menu ul li a{
    padding: 15px;
  }
  li.menu-item-has-children:after {
    top: 14px;
  }
  .blog_inner_box img {
    width: 340px !important;
    height: 320px !important;
  }
  .blog_box_inner {
    padding-right: 0;
  }
  .slider .owl-nav{
    display: none;
  }
  .blog_box_inner h3{
    font-size: 30px;
  }
  .slider .owl-dots{
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .slider button.owl-dot {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
  }
  .slider-inner-banner img{
    height: 520px;
  }
}

@media screen and (min-width : 1024px) and (max-width : 1199px) {
  #main-menu ul li a {
    padding: 10px 20px;
  }
  .blog_inner_box img {
    width: 380px !important;
    height: 350px !important;
  }
  .blog_box_inner {
    padding-right: 0;
  }
  .slider .owl-nav{
    display: none;
  }
  .slider .owl-dots {
    left: 10px;
  }
  .slider-owl-position {
    top: 60%;
  }
  .blog_box_inner h3{
    font-size: 45px;
  }
  .slider-inner-banner img {
    height: 650px;
  }
}

@media screen and (min-width : 1200px) and (max-width : 1500px) {
  .slider button.owl-prev,.slider button.owl-next,.slider .owl-dots{
    left: 30px;
  }
}

@media screen and (max-width : 1000px) {
  .admin-bar .sticky-header.fixed-header{
    margin-top: 0px;
  }
  .fixed-header{
    position: static;
  }
}

@media screen and (min-width:1700px) and (max-width:1900px){
  .container{
    max-width: 1520px;
  }
}

@media screen and (min-width:1920px) {
  .container{
    max-width: 1620px;
  }
} 

@media screen and (max-width: 1000px){
  .main-navigation ul .menu-item.menu-item-has-children a:after,
  .main-navigation ul .page_item.page_item_has_children a:after{
    content: none;
  }
  .main-navigation .menu{
        display: inline-block;
        padding: 20px;
        margin-top: 65px;
        width: 100%;
    }
    .main-navigation .menu ul{
        display: inline-block;
        width: 100%;
    }
    .main-navigation .menu li{
        border: none;
    }
  ul#menu-testing-menu li.current-menu-item.current_page_item a{
    border: none;
    color: #ffffff;
  }
  .main-navigation ul.sub-menu li a,
  .main-navigation ul.children li a {
    color: #ffffff !important;
  }
  .main-navigation ul.sub-menu > li > a:hover, .main-navigation ul.sub-menu > li > a:focus,
  .main-navigation ul.children > li > a:hover, .main-navigation ul.children > li > a:focus{
    background: transparent;
  }
  .toggle-nav.mobile-menu {
    text-align: center;
  }
  .nav-box {
    outline: none;
    background: transparent;
  }
  .main-navigation .sub-menu > li,
  .main-navigation .children > li{
    border: none;
  }
  .toggle-nav {
    display: none;
    cursor: pointer;
    z-index: 999999;
  }
  .toggle-nav i {
    font-size: 30px;
    color: #000000;
  }
  .toggle-nav button {
    border: none;
    background: transparent;
    padding: 0;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999;
    right: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s ;
    overflow-y: scroll;
    background: #1E192D;
    visibility: hidden;
  }
  .sidenav.show {
    visibility: visible;
    width: 100%;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 45px;
    margin-left: 10px;
    display: block;
    font-size: 13px;
    color: #fff;
    text-align: center;
    right: 14px;
    background:var(--first-color);
    padding: 6px;
    border-radius: 4px;
  }
  .sidenav #site-navigation {
    width: 100%;
    background-color: #212529;
    padding-left: 6px;
  }
  .toggle-nav,
  .toggle-nav.mobile-menu,
  a.closebtn.mobile-menu,
  .main-navigation ul ul li,
  .nav ul li a{
    display: block;
  }
  .nav ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .nav ul li ul li a{
    padding-left:20px !important;
  }
  .nav ul li ul li ul li a{
    padding-left:30px !important;
  }
  .main-navigation li{
    padding: 0;
  }
  .main-navigation ul li a,.main-navigation .menu > li > a,.main-navigation .sub-menu > li > a, .main-navigation .sub-menu > li > .menu-item-link-return,
  .main-navigation .menu > li > a,.main-navigation .children > li > a, .main-navigation .children > li > .menu-item-link-return,.menu ul li a {
    color: #ffffff !important;
    display: block;
    border: none;
    text-align: left;
    padding: 10px 0px;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
  }
  .sidebar-area .menu ul li a{
    color: #000 !important;
    padding: 3px 0;
    border-bottom: unset;
  }
  footer .sidebar-area .menu ul li a{
    color: #fff !important;
    padding: 3px 0;
    border-bottom: unset;
  }
  #site-navigation .menu ul li a:hover{
    color: var(--first-color);
  }
  /*NEW*/
  .main-navigation .menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu{
    border: none;
  }
  .main-navigation .sub-menu li ul.sub-menu,.main-navigation .children li ul.children{
    left: 0px !important;
  }
  .navigation_header .nav, .navbar-expand-xl {
    display: inline-block;
  }
  .main-navigation .sub-menu, .main-navigation .children{
    background: transparent;
  }
  .caret {
        display: none;
    }
    /* mobile menu */

    .footer-widgets-wrapper .widget-column {
        margin: 70px 0;
    }

    .footer-widgets-wrapper .widget-column:last-child {
        margin-bottom: 0;
    }

    .main-navigation ul li ul a {
        background: 0 0
    }

    .main-navigation .menu .menu-item-has-children ul li a{
      font-weight: 400;
      font-size: 14px;
    }

    .main-navigation ul li ul li ul li a {
        background: 0 0;
        padding-left: 22px;
        font-size: 16px;
        color: rgba(255, 255, 255, .5)
    }

    .main-navigation a.current,
    .main-navigation li.current>a {
        color: #c5a47e
    }

    .main-navigation ul li {
        position: relative;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, .15)
    }

    .main-navigation ul .dropdown:focus-within>ul {
        display: block !important
    }

    .main-navigation ul>li>ul {
        background-color: #2a2a2a
    }
    .main-navigation ul li a {
        color: #fff;
        display: block;
        font-weight: 400;
        padding: 12px 15px;
        position: relative;
        cursor: pointer;
        line-height: 18px;
        font-size: 16px;
        width: 100%;
        text-align: left;
    }
    .main-navigation ul.menu>li>ul>li>a {
        padding-left: 22px;
        font-size: 16px;
        color: rgba(255, 255, 255, .5)
    }

    .main-navigation ul.menu>li>ul>li.dropdown>a {
        padding-left: 22px
    }

    .main-navigation ul.menu>li>ul>li.dropdown {
        width: auto
    }

    .main-navigation ul li.dropdown .la {
        border-left: 1px solid rgba(130, 130, 130, .58);
        color: #fff;
        text-align: center;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out
    }

    .main-navigation .menu .dropdown-menu {
        position: relative;
        z-index: 1;
        display: none;
        float: none;
        min-width: 100%;
        padding: 5px 0;
        margin: 2px 50px 0 0;
        font-size: 14px;
        text-align: center;
        list-style: none;
        background-color: transparent;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: none;
        border-radius: 1px;
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 1 !important;
        left: 0 !important;
    }

    #site-navigation .menu li.dropdown .bi,.main-navigation .menu li i,.menu li.page_item ul.children i {
        display: block;
        border-left: 1px solid rgba(255, 255, 255, .13);
        color: #b3b3b9;
        text-align: center;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out
    }

    #site-navigation .menu li.dropdown .bi,
    .main-navigation ul li.dropdown .bi,.main-navigation .menu li i,ul.children.dropdown-menu li i,.menu li.page_item ul.children i {
        position: absolute;
        z-index: 99;
        width: 60px;
        right: 0;
        top: 0;
        line-height: 50px;
        font-size: 16px;
        cursor: pointer;
    }
    .menu li.page_item i{
        right: -254px !important;
        top: -10px !important;
        width: 40px !important;
    }
    .menu li.page_item ul.children li.page_item i{
        right: 0 !important;
    }

    .main-navigation ul.menu>li {
        padding: 0;
    }

    .main-navigation ul li:last-child,
    .main-navigation ul.menu>li>ul>li:last-child,
    .main-navigation .menu>li>ul>li:last-child,
    .main-navigation .menu>li>ul>li>ul>li:last-child {
        border-bottom: none;
    }
  .main-navigation span.dashicons.dashicons-arrow-down-alt2 {
        right: 0;
        position: absolute;
        margin-top: 0px;
        top: 12px;
        z-index: 999;
  }
  .main-navigation .dashicons-arrow-down-alt2:before {
    color: #fff;
  }
.toggle-nav.mobile-menu {
    display: flex;
}
.dashicons-menu:before {
    content: "\f333";
    background: var(--first-color);
    padding: 8px;
    border-radius: 4px;
    color: #fff;
}
.top-menu-wrapper{
  margin: 10px;
}
}
@media screen and (min-width:1001px){
    .main-navigation .menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu,.main-navigation .menu .menu-item-has-children:not(.off-canvas):focus > .sub-menu,.main-navigation .menu .menu-item-has-children.is-focused:not(.off-canvas) > .sub-menu,.main-navigation .menu .menu-item-has-children:not(.off-canvas)[focus-within] > .sub-menu,.main-navigation .menu .menu-item-has-children:not(.off-canvas):focus-within > .sub-menu,.main-navigation .menu .page_item_has_children:not(.off-canvas):hover > .children,.main-navigation .menu .page_item_has_children:not(.off-canvas):focus > .children,.main-navigation .menu .page_item_has_children.is-focused:not(.off-canvas) > .children,.main-navigation .menu .page_item_has_children:not(.off-canvas)[focus-within] > .children,.main-navigation .menu .page_item_has_children:not(.off-canvas):focus-within > .children   {
    display: block;
    left: 0;
    margin-top: 0;
    width: auto;
    min-width: 100%;
    opacity: 1;
    top: 100%;
    border: 1px solid #f3f3f3;
}
}